body {
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	background-color: #f0eceb
}

/*HEADER STYLING*/
header{
	background-color: #283018;
	position: fixed;
	width: 100%;
	padding: 0;
	z-index: 1;
}
.mobile-header {
	display: none;
}
#checkbox {
	display: none;
}

nav {
	display: block;
	text-align: center;
}
a{
	color: #aa863a;
}
h1{
	color: white;
	margin-top: 7%;
	font-size: 100px;
}
h2{
	text-align: center;
	margin-top: 7%;
}

.nav-pills>li.active>a {
	background-color: #283018;
	color: white;
}
.nav-pills>li>a:hover {
	background-color: #283018;
	color: #FF9900;
}
.nav-pills>li.active>a:hover {
	background-color: #283018;
	color: #FF9900;
}
nav li {
	font-size: 24px;
}

.wrapper{
	min-height: 100%;
	margin: 0% 10% 10% 10%;
	padding: 1% 0 1%;
}

#instafeed { 
	text-align: center;
	padding-bottom: 10%;
}

#instafeed img{
	padding: 1% 1% 1% 1%;
	margin: 1% 1% 1% 1%;
	opacity: 0.85;
	box-shadow: 2px 2px 5px #666666;
	border-style: solid;
	border-color: #CCCCCC;
	border-width: 1px;
}

#instafeed img:hover{
	opacity: 1;
}
.spotify{
	text-align: center;
}

.navbar-fixed-bottom{
	margin-top: -3%;
	position: center;
	padding-top: 1%;
	background-color: #283018;
}

footer a:hover{
	text-decoration: none;
}

footer {
	color: white;
	text-align: center;
}

iframe{
	border: none;
}
	
#photo-intro{
	text-align: center;
}

.location{
	float: right;
	display: inline;
}

.resume{
	max-width: 70%;
	margin: 0 auto;
}
.resume-title{
	text-align: center;
}

@media only screen and (max-width: 800px){
	h1 {
		display: none;
	}
	h2{
		padding-top: 30px;
	}

	.mobile-header{
		display: inline-block;
		padding-top: 10px;
		float: right;
		margin-right: 30px;
		color: #aa863a;
	}
	nav ul, nav:active ul { 
		display: none;
	}
	nav li {
		text-align: center;
		width: auto;
		margin: 0;
		font-size: 18px;
		padding: 0px;  
	}
	#header-name{
		font-size: 20px;
		color: white;
		float: left;
		margin-left: 30px;
		padding-top: 5px;	
	}
	.glyphicon {
		font-size: 20px;
	}
	#checkbox:checked ~ ul {
		display: inline-block;
		-webkit-touch-callout: none; /* iOS Safari */
  		-webkit-user-select: none;   /* Chrome/Safari/Opera */
  		-khtml-user-select: none;    /* Konqueror */
  		-moz-user-select: none;      /* Firefox */
  		-ms-user-select: none;       /* IE/Edge */
  		user-select: none;  
	}
	#last{
		padding-bottom: 5em;
	}
	.wrapper {
		margin: 0px 14px 14px 0px;
	}
	#title{
		padding-top: 50px;
	}
}


/* horizontally center an element- margin: 0 auto;
slide 63 of CSS ppt