{% extends "templates/base.html" %}

{% block head %}
	<title>Peter - ABOUT ME</title>
{% endblock %}

{% block title %}
	<h2>About Me</h2>
{% endblock %}

{% block content %}
	<p>Hi, my name is Peter. I am originally from Grand Rapids, MI and now live in Ann Arbor, so I have lived in Michigan my whole life. I am currently in my sophomore year at the University of Michigan. I grew up in a family of crazy Michigan fans, so becoming a Wolverine was a dream come true. I am in the School of Information at the university and plan on focusing on User Experience Design with a minor in Spanish.</p>
	<p></p>
{% endblock %}