{% extends "templates/base.html" %}

{% block head %}
	<title>ABOUT ME</title>
{% endblock %}

{% block title %}
	<h2>About Me</h2>
{% endblock %}

{% block content %}
	<p>Hi, my name is Peter. I am originally from Grand Rapids, MI and now live in Ann Arbor, so I have lived in Michigan my whole life. I am currently in my sophomore year at the University of Michigan. I grew up in a family of crazy Michigan fans, so becoming a Wolverine was a dream come true. I am currently enrolled in the School of Information at the university and plan on focusing on User Experience Design with a minor in Spanish.</p>
	<h2>Other Interests</h2>
	<p>Aside from school, there are a few other things you should know about me:</p>
	<ul>
		<li>I love cars. Ever since I was little, my dream has been to own a Porsche 911.</li>
		<li>I am also a big sports fan. I am a huge Michigan football fan, as well as other Michigan sports teams such as the Tigers, Red Wings, and Lions. I also am a big supporter of Arsenal FC from the English Premier League.</li>
		<li>I enjoy traveling. I love exploring new cities, and I also went to Peru 2 years ago. I enjoyed it so much that I will be returning for an internship this summer!</li>
	</ul>
	<h2>Spanish Playlist</h2>
	<p>Here, you can listen to the playlist I created of my favorite Spanish music. I often listen to this while doing Spanish homework, around the house, or even on the plane to keep my mind in a Spanish mindset.</p><br>
	

	<div class="spotify spotify-large hidden-xs hidden-sm">
	<iframe src="https://embed.spotify.com/?uri=spotify:user:mackpet:playlist:3zICgWemeTsjeCqI6qoOrn" width="640" height="620" frameborder="0" allowtransparency="true"></iframe>
	</div>

	<div class="spotify spotify-small hidden-lg hidden-md">
	<iframe src="https://embed.spotify.com/?uri=spotify:user:mackpet:playlist:3zICgWemeTsjeCqI6qoOrn" width="200" height="350" frameborder="0" allowtransparency="true"></iframe>
	</div>
{% endblock %}