 <!--style tag is necessary for background here since it is only on index page. Also necessary for h1 since this page doesn't follow common formatting of other pages-->
<style type="text/css">
body{
	background: url("static/peru.jpg") no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
h1{
	color: white;
	font-size: 50px;
}

</style>
{% extends "templates/base.html" %}

{% block head %}
	<title>Peter - HOME</title>
{% endblock %}

{% block title %}
	<h1>PETER MACK</h1>
{% endblock %}

{% block content %}

{% endblock %}