{% extends "templates/base.html" %}

{% block head %}
	<title>RESUME</title>
{% endblock %}

{% block title %}
	<h2 class="resume-title">Peter Mack - Resume</h2>
{% endblock %}

{% block content %}
<div class="contact resume resume-title">
<p>Ann Arbor, MI / Grand Rapids, MI <br>
pjmack@umich.edu • (616) 460-0779</p>
</div>

<div class="education resume">
	<h3>EDUCATION</h3>
	<h4>University of Michigan (2014-Present)</h4><p class="location">Ann Arbor, MI</p>
	<h5>School of Information</h5>
	<ul>
		<li>Intended Major: Bachelor of Science in Information, April 2018</li>
		<li>Intended Minor: Spanish Language, Literature, and Culture</li>
		<li>3.63/4.00</li>
		<li>University Honors, Winter 2015 & Fall 2015</li>
	</ul>
</div>

<div class="roses resume">
	<h3>EXPERIENCE</h3>
	<h4>Rose's Restaurant (2012-2015)</h4><p class="location">Grand Rapids, MI</p>
	<h5>Server</h5>
	<ul>
		<li>Provided friendly and professional service to well over 50 guests per day, including generating additional sales for the restaurant totaling well over $30,000 over three months </li>
		<li>Promoted thrice between the four-year period of Summer 2012 through Summer 2015 as a result of hard work and dedication to the company</li>
		<li>Gained valuable customer service experience as well as communication skills by always ensuring enjoyable guest experiences, reflected in majority of tips close to or above 20%</li>
	</ul>
</div>

<div class="slip resume">
	<h4>Spanish Language Internship Program</h4><p class="location">Ypsilanti, MI</p>
	<h5>Volunteer Intern</h5>
	<ul>
		<li>Teach English as a second language to area non-English speakers, with classes taught entirely in Spanish</li>
		<li>Work in conjunction with program coordinator and fellow interns to develop weekly lesson plans, as well as strategies to effectively maximize impact and students’ learning</li>
		<li>Develop further global understanding by interacting with people from Spanish-speaking countries during weekly class sessions</li>
	</ul>	
</div>

<div class="fsae resume">
	<h4>University of Michigan Formula SAE Racing Team (2015-Present)</h4><p class="location">Ann Arbor, MI</p>
	<h5>Business Team Member</h5>
	<ul>
		<li>Formulate business strategy as a team to be used in competitions, with the goal of persuading judges to invest in our car racing team</li>
		<li>Develop and foster relationships with corporate and private sponsors in order to fund the $350,000 annual operating budget</li>
		<li>Conduct fundraising campaign for Giving Blue Day 2015, a university-sanctioned initiative to gain additional funds for our team on Giving Tuesday</li>
	</ul>
</div>

<div class="berts resume">
	<h4>Bert's Cafe (2015-Present)</h4><p class="location">Ann Arbor, MI</p>
	<h5>Sales Associate</h5>
	<ul>
		<li>Ensure a friendly and welcoming environment in a popular campus coffee shop by inquiring about guest experience and remedying any issues</li>
		<li id="last">Work quickly and efficiently in a fast-paced environment, assisting around 50 customers per hour while maintaining an excellent level of service</li>
	</ul>
</div>


{% endblock %}


