{% extends "templates/base.html" %}

{% block head %}
	<title>Peter - LOGIN</title>
{% endblock %}

{% block title %}
	<h2>Logging In...</h2>
{% endblock %}

{% block content %}

{% if username == "Colleen" and password == "pass" %}
<p>Congratulations! You have successfully logged in.</p>

{% else %}
	<p>Sorry, incorrect credentials. Please try again.</p>
	<form action="/success.html" method="post">
		<label>Username: <input type = "text" name = "username"></label>
		<label>Password: <input type = "password" name = "password"></label>
		<input type = "submit" value = "Login">
	</form>

{% endif %}

{% endblock %}